* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(9, 230, 138), rgb(12, 217, 231));
}

#menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 350px;
  height: 3.45rem;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; /* SHADOW #27 */
}

#menu > hr {
  border: none;
  margin: 10px;
  height: 80%;
  width: 1px;
  background: radial-gradient(rgba(218, 218, 218, 0.9), rgba(233, 233, 233, 0));
}

#menu > input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(218, 218, 218);
  padding: 7px;
}

#menu > input:focus {
  outline: none;
  border: 2px solid rgb(9, 230, 138);
}

#menu > button {
  background: white;
  border: 1px solid rgb(17, 177, 113);
  border-radius: 5px;
  color: rgb(17, 177, 113);
  width: 100px;
  height: 30px;
  font-weight: 700;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}

#menu > button:hover {
  background: rgb(17, 177, 113);
  color: white;
}

#list-container {
  display: flex;
  width: 390px;
}

.list-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 390px;
  height: 650px;
  margin: 20px 20px 0 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; /* SHADOW #29 */
}

.list-title {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 15px;
  width: inherit;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.list-name {
  font-size: 24px;
  max-width: inherit;
  text-align: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  transition: all 100ms ease-in-out;
}

.trash {
  color: rgb(245, 75, 75);
  border: 1px solid rgb(245, 75, 75);
}

.trash:hover {
  background-color: rgb(245, 75, 75);
  color: white;
}

.plus {
  color: rgb(75, 115, 245);
  border: 1px solid rgb(75, 115, 245);
}

.plus:hover {
  background-color: rgb(75, 115, 245);
  color: white;
}

.list-items-container {
  height: 540px;
  width: 100%;
  padding: 15px;
}

.menu-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: inherit;
  border-top: 1px solid rgb(233, 233, 233);
}

.list-content {
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 7px;
}

.checkbox-container {
  display: flex;
  align-self: start;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.list-content > div > hr {
  height: 1.5rem;
  width: 1px;
  margin: 0 10px;
  border: 0;
  background: radial-gradient(rgba(218, 218, 218, 0.9), rgba(233, 233, 233, 0));
}

.list-item-text {
  max-height: 2.5rem;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.5s ease height;
}

.expand {
  max-height: 6.25rem;
  overflow: hidden;
  text-overflow: unset;
  white-space: unset;
}
