* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, rgb(9, 230, 138), rgb(12, 217, 231));
  height: 100vh;
}

#menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 50px;
}

#menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  width: 350px;
  height: 3.45rem;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; /* #27 */
  
}

#menu > hr{
  border: none;
  margin: 10px;
  height: 80%;
  width: 1px;
  background: radial-gradient(rgba(218, 218, 218, 0.9), rgba(233, 233, 233, 0));
}

#menu > input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgb(218, 218, 218);
  padding: 7px;
}

#menu > input:focus {
  outline: none;
    border: 2px solid rgb(9, 230, 138);
}

#menu > button {
  background: white;
  border: 1px solid rgb(9, 230, 138);
  border-radius: 5px;
  color: rgb(9, 230, 138);
  width: 100px;
  height: 30px;
  font-weight: 700;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}

#menu > button:hover {
  background: rgb(9, 230, 138);
  color: white;
}